/********* CSS By Michael Capanelli 2016 ***********/

/* ***********************************************************************
GENERAL
***********************************************************************/
.wrap{
	width: 100%;
	max-width: 68.750em;
	margin: 1.25em;
	padding: 1em;
}

/* ***********************************************************************
NAV
***********************************************************************/
 
.nav-desktop {
	background-color: #222;
	padding: 1em;
	margin: 0 auto;

}

.site-logo{
	color: rgba(255,255,255,0.8);
	 
}

.nav-desktop .menu-desktop{
	background-color: transparent;
	 


}

.nav-desktop a{
	color:rgba(255,255,255,0.6);
	font-weight: bold;
}

 .menu a {
	display: inline-block;
	line-height: 3em;
	padding-top: 0;
	padding-bottom: 0;
 }

 .menu a:hover {
	color: rgba(255,255,255,0.8);
}

/* ***********************************************************************
MOBILE NAV
***********************************************************************/

.title-bar{
	background-color: #222;
	padding: 1.063em;
}

.off-canvas-wrapper{
	background-color: #222;

}

#mobile-menu {
	background-color: transparent;
	padding: 0.625em;
}

#mobile-menu li{
	list-style: none;
	 
}

#mobile-menu a{
	color: rgba(255,255,255,0.6);
	font-weight: bold;
	line-height: 2;
}

#mobile-menu a:hover {
	color: rgba(255,255,255,0.8);
}

 /* ***********************************************************************
Splash
***********************************************************************/

#logo-large{
	margin-left: 100px;
	padding: 1.5em;
	align-content: center;
}


/* ***********************************************************************
HERO
***********************************************************************/
.hero{
    background: #999;
    height: 100%;
    padding: 1em;
    margin: 0 auto;
    background-image: url('../img/meyerherotint.png');
    background-repeat: no-repeat;
    background-size: cover;
	 
}

.hero h1{
	color: rgba(247,249,255,0.8);
}

.hero p{
    color: rgba(247,249,255,0.8);
    font-weight: bold;
}

.hero img{
	width: 80%;
	background-repeat: no-repeat;
}


/* ***********************************************************************
ABOUT
***********************************************************************/

.about{
    padding: 1em;
    margin: 0 auto;
    text-align: center;
 }
 

/* ***********************************************************************
FOOTER
***********************************************************************/

footer {
	width: 100%;
	background-color: #222;
	padding: 1em;
	margin: 0 auto;
	background-image: url('../img/moulin.png');
}

footer a {
	display: block;
	color: rgba(255,255,255,0.6);
}

footer h4{
	color: rgba(255,255,255,0.8);
}

footer a:hover {
	color: rgba(255,255,255,0.8);
}

footer a span{
	font-weight: bold;
}

footer hr{
	border-color: rgba(255,255,255,0.1);
}

#social a{
    display: inline-block;
    padding: .5em;
}

#form{
	margin: 0 auto;
	color: rgba(255,255,255,0.8);
	 
}

 

/* ***********************************************************************
@Media 
***********************************************************************/

 

 



