/********* CSS By Michael Capanelli 2016 ***********/

/* ***********************************************************************
GENERAL
***********************************************************************/
.wrap{
	width: 100%;
	margin: 0 auto;
	padding: 1em;
	 
}

/* ***********************************************************************
NAV
***********************************************************************/
 
.nav-desktop {
	background-color: #222;
	padding: 1em;
	margin: 0 auto;

}

.site-logo{
	color: rgba(255,255,255,0.8);
	 
}

.nav-desktop .menu-desktop{
	background-color: transparent;
	 


}

.nav-desktop a{
	color:rgba(255,255,255,0.6);
	font-weight: bold;
}

 .menu a {
	display: inline-block;
	line-height: 3em;
	padding-top: 0;
	padding-bottom: 0;
 }

 .menu a:hover {
	color: rgba(255,255,255,0.8);
}

 .top-bar-left h4{
	 color:rgba(255,255,255,0.6);
	 font-weight: bold;
 }

/* ***********************************************************************
MOBILE NAV
***********************************************************************/

.title-bar{
	background-color: #222;
	padding: 1.063em;
}

.off-canvas-wrapper{
	background-color: #222;

}

#mobile-menu {
	background-color: transparent;
	padding: 0.625em;
}

#mobile-menu li{
	list-style: none;
	 
}

#mobile-menu a{
	color: rgba(255,255,255,0.6);
	font-weight: bold;
	line-height: 2;
}

#mobile-menu a:hover {
	color: rgba(255,255,255,0.8);
}

 
 /* ***********************************************************************
HERO
***********************************************************************/
 .hero img{
 	size: 100%;
 	padding: .1em;
 	margin: 0 auto;
 }
 
/* ***********************************************************************
MAIN CONTENT 
***********************************************************************/
.main h1{
	text-align: center;
}

/* ***********************************************************************
Secondary Content 
***********************************************************************/
   .secondary_content img{
   	align-items: center;
   }

/* ***********************************************************************
Bios
***********************************************************************/

.bios h3, h4{
	 text-align: center;
}

.img-circle{

	border-radius: 50%;
}



/* ***********************************************************************
FOOTER
***********************************************************************/

footer {
	width: 100%;
	background-color: #222;
	padding: 1em;
	margin: 0 auto;
	background-image: url('../img/moulin.png');
}

footer a {
	display: block;
	color: rgba(255,255,255,0.6);
}

footer h4{
	color: rgba(255,255,255,0.8);
}

footer a:hover {
	color: rgba(255,255,255,0.8);
}

footer a span{
	font-weight: bold;
}

footer hr{
	border-color: rgba(255,255,255,0.1);
}

#social a{
    display: inline-block;
    padding: .5em;
}

#form{
	margin: 0 auto;
	color: rgba(255,255,255,0.8);
	 
}

 

/* ***********************************************************************
@Media 
***********************************************************************/

 
 
 



